<launch>

	<!-- Load gripper config information -->
  <rosparam file="$(find gripper_description)/config/gripper.yaml" command="load"/>

    <!-- Generate/Load robot description file -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find gripper_description)/urdf/panda_and_eff.xacro'" />

</launch>
