<?xml version="1.0"?>
<robot name="gripper" xmlns:xacro="http://wiki.ros.org/xacro">

	<xacro:macro name="add_gripper">
	
		<!-- PARAMETERS TO BE SET BY HAND -->
		
		<!-- xyz values to connect the segmented finger to the finger platform -->
		<!-- TODO verfiy these values -->
		<xacro:property name="x_fix" value="0.129"/>
		<xacro:property name="y_fix" value="-0.007"/>
		<xacro:property name="z_fix" value="0"/>
		
		<!-- END OF PARAMETERS TO BE SET BY HAND -->

		<!-- load information from the gripper yaml file -->
		<xacro:property name="filename" value="$(find gripper_description)/config/gripper.yaml"/>
		<xacro:property name="dictionary" value="${xacro.load_yaml(filename)}"/>
		<xacro:property name="is_segmented" value="${dictionary['gripper_config']['is_segmented']}"/>
		<xacro:property name="num_segments" value="${dictionary['gripper_config']['num_segments']}"/>
		<xacro:property name="torsion" value="${dictionary['gripper_config']['torsion']}"/>

		<!-- load the macro for the gripper and segmented fingers -->
		<xacro:include filename="$(find gripper_description)/xacro/gripper.main.xacro"/>
		<xacro:include filename="$(find gripper_description)/xacro/gripper.segmented_fingers.xacro"/>

		<!-- create instances of gripper -->
		<xacro:gripper is_segmented="${is_segmented}"/>

		<!-- macro for adding the segmented fingers onto the gripper-->
		<xacro:macro name="add_fingers" params="segments">
		  <!-- Create the fingers themselves -->
		  <xacro:segmented_finger prefix="finger_1" num_segments="${segments}"
		    torsion="${torsion}"/>
		  <xacro:segmented_finger prefix="finger_2" num_segments="${segments}"
		    torsion="${torsion}"/>
		  <xacro:segmented_finger prefix="finger_3" num_segments="${segments}"
		    torsion="${torsion}"/>
		  <!-- adds the finger controller plugin to gazebo -->
		  <xacro:gazebo_plugin/>
		  <!-- attach them to the gripper -->
		  <joint name="to_segmented_finger_1" type="fixed">
		    <origin xyz="${x_fix} ${y_fix} ${z_fix}" rpy="${pi/2} 0 0"/>
		    <parent link="finger_1"/>
		    <child link="finger_1_segment_link_1"/>
		  </joint>
		  <joint name="to_segmented_finger_2" type="fixed">
		    <origin xyz="${x_fix} ${y_fix} ${z_fix}" rpy="${pi/2} 0 0"/>
		    <parent link="finger_2"/>
		    <child link="finger_2_segment_link_1"/>
		  </joint>
		  <joint name="to_segmented_finger_3" type="fixed">
		    <origin xyz="${x_fix} ${y_fix} ${z_fix}" rpy="${pi/2} 0 0"/>
		    <parent link="finger_3"/>
		    <child link="finger_3_segment_link_1"/>
		  </joint>
		</xacro:macro>

		<!-- add the segmented fingers only if indicated in gripper.config -->
		<xacro:if value="${is_segmented}">
		  <xacro:add_fingers segments="${num_segments}"/>
		</xacro:if>
  
  </xacro:macro>

</robot>
