<launch>

	<!-- run the auto yaml script to add finger joints to the controllers -->
  <node name="auto_yaml" pkg="gripper_scripting" type="generate_controller_yaml.py" output="screen"
  	respawn="false"/>
  			
  <!-- use xacro to generate semantic srdf files -->
  <node name="gen_panda_semantic" pkg="xacro" type="xacro" respawn="false"
				args="--inorder -o $(find gripper_description)/urdf/semantic/panda.semantic.urdf $(find gripper_description)/xacro/semantic/panda.semantic.xacro"/>
				
	<node name="gen_gripper_semantic" pkg="xacro" type="xacro" respawn="false"
				args="--inorder -o $(find gripper_description)/urdf/semantic/gripper.semantic.urdf $(find gripper_description)/xacro/semantic/gripper.semantic.xacro"/>
  			
  <node name="gen_both_semantic" pkg="xacro" type="xacro" respawn="false"
				args="--inorder -o $(find gripper_description)/urdf/semantic/panda_and_gripper.semantic.urdf $(find gripper_description)/xacro/semantic/panda_and_gripper.semantic.xacro"/>
				
	<!-- use xacro to generate urdf files -->
	<node name="gen_panda_urdf" pkg="xacro" type="xacro" respawn="false"
				args="--inorder -o $(find gripper_description)/urdf/panda.urdf $(find gripper_description)/urdf/panda.urdf.xacro"/>
				
	<node name="gen_gripper_urdf" pkg="xacro" type="xacro" respawn="false"
				args="--inorder -o $(find gripper_description)/urdf/gripper.urdf $(find gripper_description)/urdf/gripper.urdf.xacro"/>
  			
  <node name="gen_both_urdf" pkg="xacro" type="xacro" respawn="false"
				args="--inorder -o $(find gripper_description)/urdf/panda_and_gripper.urdf $(find gripper_description)/urdf/panda_and_gripper.urdf.xacro"/>
  			
</launch>
