<?xml version="1.0"?>
<robot name="gripper_task" xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- include the mujoco settings xacro -->
	<xacro:include filename="$(find gripper_description)/urdf/mujoco/xacro/mujoco.xacro"/>
	<xacro:mujoco_settings/>

	<!-- include the gripper only -->
	<xacro:include filename="$(find gripper_description)/xacro/gripper.xacro"/>
	<xacro:add_gripper/>

  <!-- attach gripper to the ground for gazebo -->
	<link name="world"/>
	<joint name="world_to_base" type="fixed">
		<origin xyz="0 0 0.325" rpy="${pi} 0 0"/>
		<parent link="world"/>
		<child link="gripper_base_link"/>
	</joint>
		
</robot>