<?xml version="1.0"?>
<robot name="gripper" xmlns:xacro="http://wiki.ros.org/xacro">

	<xacro:macro name="mujoco_settings">
		<mujoco>
			<compiler
				meshdir="../meshes_mujoco/"
				balanceinertia="true"
				discardvisual="false"
			/>
			<size njmax="1400" nconmax="500"/>
		</mujoco>
	</xacro:macro>
</robot>
