<?xml version="1.0"?>
<robot name="gripper" xmlns:xacro="http://wiki.ros.org/xacro">

	<xacro:macro name="mujoco_settings">
		<mujoco>
			<compiler
				meshdir="./meshes_mujoco/"
				balanceinertia="true"
				discardvisual="false"
			/>
			<size njmax="3000" nconmax="800"/>
		</mujoco>
	</xacro:macro>
</robot>
