<launch>

  <!-- Load joints controllers configurations -->
  <rosparam file="$(find segmented_controller)/config/control.yaml" command="load"/>

  <!-- Load the controllers -->
<!--  <node name="controller_spawner_test" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="
        segmented_controller"/> -->

  <!-- convert joint states to TF transforms for rviz, etc -->
  <!--<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>
  -->

</launch>
