<launch>

  <node name="gripper_real_node"
        type="gripper_interface.py"
        pkg="gripper_real_node"
        output="screen"
  />
  
  <node name="gripper_real_node_publisher"
  			type="gripper_real_node_publisher"
  			pkg="gripper_real_node"
  			output="screen"
  />

	
	<node name="ft_sensor_node"
        type="ft_sensor_node"
        pkg="ft_sensor"
        output="screen"
  />
	
	
  <node name="rqt_gui"
        type="rqt_gui"
        pkg="rqt_gui"
  />

</launch>
