<?xml version="1.0"?>
<robot name="panda" xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- include macros for the panda arm and end effector -->
  <xacro:include filename="$(find gripper_description)/urdf/panda_arm_macroed.xacro"/>
  <xacro:include filename="$(find gripper_description)/urdf/panda.gazebo.xacro"/>
  <xacro:include filename="$(find gripper_description)/urdf/panda.control.xacro"/>
  
  <!-- <link name="base_link"/> -->
  <xacro:panda_arm arm_id="panda" 
  						 		 mesh_folder="gripper_description/meshes_panda" 
  						 		 connected_to="base_link" 
  						 		 xyz="0 0 0" 
  						 		 rpy="0 0 0"/>
  						 		 
  <!-- attach panda arm to the ground for gazebo -->
  <link name="world"/>
  <joint name="world_to_base" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="panda_link0"/>
  </joint>

  <!-- setup controllers and gazebo -->
  <xacro:panda_gazebo arm_id="panda"/>
  <xacro:panda_control arm_id="panda"/>

</robot>
