<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:macro name="panda_arm" params="arm_id:='panda' mesh_folder:='meshes_panda' connected_to:='' xyz:='0 0 0' rpy:='0 0 0'">
    <!-- <link name="world" />
    <xacro:unless value="${not connected_to}">
      <joint name="virtual_joint" type="fixed">
        <parent link="${connected_to}"/>
        <child link="${arm_id}_link0"/>
        <origin rpy="${rpy}" xyz="${xyz}"/>
        <dynamics damping="1.0"/>
      </joint>
    </xacro:unless> -->
    
    <!-- added a 5.0N friction tag in the joint macro below -->
    <xacro:property name="joint_damping" value="1.0"/>
    <xacro:property name="joint_friction" value="0.0"/>

    <!-- written by luke based off: https://github.com/justagist/franka_panda_description/blob/master/robots/panda_arm.xacro -->
    <xacro:macro name="retrieve_inertia" params="link_number">
      <xacro:if value="${link_number == 0}">
        <inertia ixx="0.3" ixy="0.0" ixz="0.0" iyy="0.3" iyz="0.0" izz="0.3"/>
      </xacro:if>
      <xacro:if value="${link_number == 1}">
        <inertia ixx="7.0337e-01" ixy="-1.3900e-04" ixz="6.7720e-03" iyy="7.0661e-01" iyz="1.9169e-02" izz="9.1170e-03"/>
      </xacro:if>
      <xacro:if value="${link_number == 2}">
        <inertia ixx="7.9620e-03" ixy="-3.9250e-03" ixz="1.0254e-02" iyy="2.8110e-02" iyz="7.0400e-04" izz="2.5995e-02"/>
      </xacro:if>
      <xacro:if value="${link_number == 3}">
        <inertia ixx="3.7242e-02" ixy="-4.7610e-03" ixz="-1.1396e-02" iyy="3.6155e-02" iyz="-1.2805e-02" izz="1.0830e-02"/>
      </xacro:if>
      <xacro:if value="${link_number == 4}">
        <inertia ixx="2.5853e-02" ixy="7.7960e-03" ixz="-1.3320e-03" iyy="1.9552e-02" iyz="8.6410e-03" izz="2.8323e-02"/>
      </xacro:if>
      <xacro:if value="${link_number == 5}">
        <inertia ixx="3.5549e-02" ixy="-2.1170e-03" ixz="-4.0370e-03" iyy="2.9474e-02" iyz="2.2900e-04" izz="8.6270e-03"/>
      </xacro:if>
      <xacro:if value="${link_number == 6}">
        <inertia ixx="1.9640e-03" ixy="1.0900e-04" ixz="-1.1580e-03" iyy="4.3540e-03" iyz="3.4100e-04" izz="5.4330e-03"/>
      </xacro:if>
      <xacro:if value="${link_number == 7}">
        <inertia ixx="1.2516e-02" ixy="-4.2800e-04" ixz="-1.1960e-03" iyy="1.0027e-02" iyz="-7.4100e-04" izz="4.8150e-03"/>
      </xacro:if>
      <xacro:if value="${link_number == 8}">
        <inertia ixx="1e-4" ixy="0.0" ixz="0.0" iyy="1e-4" iyz="0.0" izz="1e-4"/>
      </xacro:if>
    </xacro:macro>

    <xacro:macro name="arm_link" params="number visual_mesh:='' collision_mesh:='' mass:='0.0'">
      <link name="${arm_id}_link${number}">
        <xacro:unless value="${not visual_mesh}">
          <visual>
            <geometry>
              <mesh filename="${visual_mesh}"/>
            </geometry>
          </visual>
        </xacro:unless>
        <xacro:unless value="${not collision_mesh}">
          <collision>
            <geometry>
              <mesh filename="${collision_mesh}"/>
            </geometry>
          </collision>
        </xacro:unless>
        <inertial>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <mass value="${mass}"/>
          <xacro:retrieve_inertia link_number="${number}"/>
          <!-- <inertia ixx="3e-1" ixy="0.0" ixz="0.0" iyy="3e-1" iyz="0.0" izz="3e-1" /> -->
        </inertial>
      </link>
    </xacro:macro>

    <xacro:macro name="arm_joint" params="name type:='fixed' rpy xyz soft_lower_limit:='' soft_upper_limit:=''
                            parent_link child_link limit_effort:='' limit_lower:='' limit_upper:='' limit_velocity:=''">
      <joint name="${name}" type="${type}">
        <xacro:if value="${type == 'revolute'}">
          <safety_controller k_position="100.0" k_velocity="40.0"
            soft_lower_limit="${soft_lower_limit}" soft_upper_limit="${soft_upper_limit}"/>
        </xacro:if>
        <origin rpy="${rpy}" xyz="${xyz}"/>
        <parent link="${parent_link}"/>
        <child link="${child_link}"/>
        <xacro:if value="${type == 'revolute'}">
          <limit effort="${limit_effort}" lower="${limit_lower}" upper="${limit_upper}" velocity="${limit_velocity}"/>
          <axis xyz="0 0 1"/>
        </xacro:if>
        <xacro:if value="${type == 'fixed'}">
          <axis xyz="0 0 0"/>
        </xacro:if>
        <dynamics damping="${joint_damping}" friction="${joint_friction}"/>
      </joint>
    </xacro:macro>
    <xacro:arm_link number="0" visual_mesh="package://${mesh_folder}/visual/link0.dae"
      collision_mesh="package://${mesh_folder}/collision/link0.stl" mass="3.06"/>
    <xacro:arm_link number="1" visual_mesh="package://${mesh_folder}/visual/link1.dae"
      collision_mesh="package://${mesh_folder}/collision/link1.stl" mass="2.34"/>
    <xacro:arm_link number="2" visual_mesh="package://${mesh_folder}/visual/link2.dae"
      collision_mesh="package://${mesh_folder}/collision/link2.stl" mass="2.36"/>
    <xacro:arm_link number="3" visual_mesh="package://${mesh_folder}/visual/link3.dae"
      collision_mesh="package://${mesh_folder}/collision/link3.stl" mass="2.38"/>
    <xacro:arm_link number="4" visual_mesh="package://${mesh_folder}/visual/link4.dae"
      collision_mesh="package://${mesh_folder}/collision/link4.stl" mass="2.43"/>
    <xacro:arm_link number="5" visual_mesh="package://${mesh_folder}/visual/link5.dae"
      collision_mesh="package://${mesh_folder}/collision/link5.stl" mass="3.5"/>
    <xacro:arm_link number="6" visual_mesh="package://${mesh_folder}/visual/link6.dae"
      collision_mesh="package://${mesh_folder}/collision/link6.stl" mass="1.47"/>
    <xacro:arm_link number="7" visual_mesh="package://${mesh_folder}/visual/link7.dae"
      collision_mesh="package://${mesh_folder}/collision/link7.stl" mass="0.45"/>
     <xacro:arm_link number="8"/>
     
     <!-- joint6 limit lower = -0.0175 -->


    <xacro:arm_joint name="${arm_id}_joint1" type="revolute" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"
      rpy="0 0 0" xyz="0 0 0.333" parent_link="${arm_id}_link0" child_link="${arm_id}_link1" limit_effort="87"
      limit_lower="-2.8973" limit_upper="2.8973" limit_velocity="2.1750"/>
    <xacro:arm_joint name="${arm_id}_joint2" type="revolute" soft_lower_limit="-1.7628" soft_upper_limit="1.7628"
      rpy="${-pi/2} 0 0" xyz="0 0 0" parent_link="${arm_id}_link1" child_link="${arm_id}_link2" limit_effort="87"
      limit_lower="-1.7628" limit_upper="1.7628" limit_velocity="2.1750"/>
    <xacro:arm_joint name="${arm_id}_joint3" type="revolute" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"
      rpy="${pi/2} 0 0" xyz="0 -0.316 0" parent_link="${arm_id}_link2" child_link="${arm_id}_link3" limit_effort="87"
      limit_lower="-2.8973" limit_upper="2.8973" limit_velocity="2.1750"/>
    <xacro:arm_joint name="${arm_id}_joint4" type="revolute" soft_lower_limit="-3.0718" soft_upper_limit="-0.0698"
      rpy="${pi/2} 0 0" xyz="0.0825 0 0" parent_link="${arm_id}_link3" child_link="${arm_id}_link4" limit_effort="87"
      limit_lower="-3.0718" limit_upper="-0.0698" limit_velocity="2.1750"/>
    <xacro:arm_joint name="${arm_id}_joint5" type="revolute" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"
      rpy="${-pi/2} 0 0" xyz="-0.0825 0.384 0" parent_link="${arm_id}_link4" child_link="${arm_id}_link5" limit_effort="12"
      limit_lower="-2.8973" limit_upper="2.8973" limit_velocity="2.6100"/>
      
    <xacro:arm_joint name="${arm_id}_joint6" type="revolute" soft_lower_limit="-0.0175" soft_upper_limit="3.7525"
      rpy="${pi/2} 0 0" xyz="0 0 0" parent_link="${arm_id}_link5" child_link="${arm_id}_link6" limit_effort="12"
      limit_lower="-0.0175" limit_upper="3.7525" limit_velocity="2.6100"/>
      
    <xacro:arm_joint name="${arm_id}_joint7" type="revolute" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"
      rpy="${pi/2} 0 0" xyz="0.088 0 0" parent_link="${arm_id}_link6" child_link="${arm_id}_link7" limit_effort="12"
      limit_lower="-2.8973" limit_upper="2.8973" limit_velocity="2.6100"/>
    <xacro:arm_joint name="${arm_id}_joint8" type="fixed" parent_link="${arm_id}_link7" child_link="${arm_id}_link8"
      rpy="0 0 0" xyz="0 0 0.107"/>
  </xacro:macro>
</robot>
