<launch>

  <!-- Launch Gazebo paused -->
      <include file="$(find gazebo_ros)/launch/empty_world.launch">
          <arg name="world_name" value="$(find gz_link)/worlds/gz_link.world"/>
          <arg name="paused" value="true"/>
          <arg name="use_sim_time" value="true"/>
          <arg name="gui" value="true"/>
          <arg name="recording" value="false"/>
          <arg name="debug" value="false"/>
      </include>

      <!-- Generate/Load robot description file -->
      <include file="$(find gripper_description)/launch/description.launch"/>

      <!-- Spawn urdf into Gazebo whilst paused and update joints to favourable position.
          Then unpause -->
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
        args="-param robot_description 
            -urdf 
            -model arm
            -J panda_joint6 1.0
            -J finger_1_prismatic_joint 0.140
            -J finger_2_prismatic_joint 0.140
            -J finger_3_prismatic_joint 0.140
            -unpause" />
            
</launch>