<launch>

	<arg name="world" default="gz_link"/>

  <!-- Launch the Gazebo simulation with my custom plugin -->
  <include file="$(find gz_link)/launch/gazebo.launch">
  	<arg name="world" value="$(arg world)"/>
  </include>

  <!-- Launch the joint trajectory controller -->
  <!--<include file="$(find gripper_control)/launch/control.launch"/>-->
  
  
  <!-- TESTING launch the new segmented_controller -->
  <!--
  <include file="$(find segmented_controller)/launch/control.launch"/>
  -->

  <!-- Launch the MoveIt! move group -->
  <include file="$(find gripper_control)/launch/moveit.launch"/>
  
  <!-- Launch RViz
  <include file="$(find gripper_control)/launch/rviz.launch"/>
  -->
  
  <!-- Launch my ROS node test -->
  <include file="$(find grasp_test)/launch/grasp_test.launch"/>
  
  <!-- launch gripper virtual node -->
  <include file="$(find gripper_virtual_node)/launch/node.launch"/>
  
  <!-- launch the model publisher node -->
  <node pkg="gz_link"
  			name="model_transform_publisher"
  			type="model_transform_publisher.py"
  			output="screen"
  />

</launch>
