<launch>

	<!-- are we loading the gripper and/or the panda arm -->
	<arg name="gripper" default="true"/>
	<arg name="panda" default="true"/>
	
	<!-- are we loading both -->
	<arg name="both" value="$(eval arg('gripper') * arg('panda'))"/>

	<!-- load gripper config information -->
  <rosparam file="$(find gripper_description)/config/gripper.yaml" command="load"/>

  <!-- if we are loading both the gripper and the panda arm -->
  <group if="$(arg both)">
  	<!-- load the robot description -->
	  <param name="robot_description" 
	  			 command="$(find xacro)/xacro
	  			 				 '$(find gripper_description)/urdf/panda_and_gripper.urdf.xacro'"/>
	  <!-- load the robot semantic description for moveit to use -->
	  <param name="robot_description_semantic"
	  			 textfile="$(find gripper_description)/urdf/semantic/panda_and_gripper.semantic.urdf"/>
  </group>
  			 
  			 
 	<!-- if we are not using both the gripper and the panda -->
 	<group unless="$(arg both)">
 		<!-- load the robot description for either the gripper or the panda -->
	  <param name="robot_description" 
	  			 command="$(find xacro)/xacro '$(find gripper_description)/urdf/gripper.urdf.xacro'" 
	  			 if="$(arg gripper)"/>
	  <param name="robot_description" 
	  			 command="$(find xacro)/xacro '$(find gripper_description)/urdf/panda.urdf.xacro'" 
	  			 if="$(arg panda)"/>
	  <!-- load the semantic description for either the gripper or the panda -->
	  <param name="robot_description_semantic"
	  			 textfile="$(find gripper_description)/urdf/semantic/gripper.semantic.urdf"
	  			 if="$(arg gripper)"/>
	  <param name="robot_description_semantic"
	  		 	 textfile="$(find gripper_description)/urdf/semantic/panda.semantic.urdf"
	  		 	 if="$(arg panda)"/>
	</group>

</launch>
