<launch>

		<!-- arguments to disable loading of the gripper or the panda -->
		<arg name="gripper" default="true"/>
		<arg name="panda" default="true"/>

    <!-- Generate/Load robot description file -->
    <include file="$(find gripper_description)/launch/description.launch">
    	<arg name="gripper" value="$(arg gripper)"/>
    	<arg name="panda" value="$(arg panda)"/>
    </include>

    <!-- Joint state publisher opens a GUI to manually input joint states -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="true"/>
    </node>

    <!-- Robot state publisher subscribe to joint states and publish "tf" transforms -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- Rviz to vizualize robot -->
    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d '$(find gripper_description)/rviz/gripper.rviz'" />

</launch>
